body {
    margin: 0;
    font-family: Calibri;
    font-size: 15px;
    width: 100%;
}
.top-bar {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.navbar {
    display: block;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}
.navbar a {


    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 30px;
    margin: 10px;
    transition: background-color 0.3s;

}
.navbar a:hover {
    background-color: #f0f0f0;
}
.navbarleft{
    margin-left: 40px;
}
.about-me-left{
    float: left;
    height: 0;
    width: 50%;
    padding-bottom: 50%;
    display: flex;
    

}
.about-me-left-para{
    width: 75%;
        height: 100% ;
        line-height: 20px;
        margin-inline: 20%;

}
p{
    font-size: 15px;
}
.about-me-rigth{
    float: right;
    height: auto ;
    width: 50%;
    height: 100%;


    
}
.pic{

    width: 100%;
    height: 100%;

    align-items: center;





}
.div-main{
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background-color: #f0f0f0;




  
}
@media screen and (min-width: 800px){
    .about-me-left-para{
    margin: 140px auto 60px;
    }

    .about-me-left-para{
        font-size: 25px;
    }
}


@media screen and (max-width: 630px) {

    body{
        width: auto;
    }

    .top-bar {
        width: 100%;
        height: 100px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    
    
    }
.navbar{
    margin: 0;
}

    .navbarleft{
        display: none;

    }

    .about-me-rigth{
        width: 100%;
    }
    .about-me-left{
        width: 100%;
    }

    .about-me-left-para{
        font-size: 15px;
        width: 75%;
        height: 100% ;
        margin: 20px auto ;
        align-items: center;
        line-height: 20px;


    
    
    }

    .pic{
    
        height: 100%;
        width: 100%;
    }

    .div-main {
      display: grid;
      height: 500px;



    }


    .div-main-work{
        display: grid;
      height: 500px;




  }

  .work-rigth{
    width: 100%;
}
.work-left{
    width: 100%;
}

.work-right-para{
    font-size: 15px;
    width: 75%;
    height: 100% ;
    margin: 20px auto ;
    align-items: center;
    line-height: 20px;

}

.LogoApp{

    height: 100%;
    width: 100%;
}
}

    

.div-main-work{
    display: block;
    width: 100%;
    height: 100%;

}

.work-left{
    float: left;
    width: 50%;
    height: 100%;
}

.LogoApp{
    width: 100%;
    height: 100%;



}

.work-rigth{
    float: right;
    height: 100%;
    width: 50%;
    margin-block: 15%;



    
}

.work-right-para{

    margin-inline: 20%;


}
