body {
    margin: 0;
    font-family: Calibri;
    font-size: 15px;
    width: 100%;

}
.top-bar{
    top: 0;
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.top-bar h2{
    margin: 20px;
}
.navbar{
    align-items: center;
}
.navbar a{
    text-decoration: none;
    color: black;
    text-decoration: none;
    padding: 30px;
    margin: 10px;
}


.about-me-left{
    float: left;
    height: 0;
    width: 50%;
    padding-bottom: 50%;
    display: flex;
    

}

.about-me-left-para{
    width: 75%;
        height: 100% ;
        margin: 40px auto 60px;
        align-items: center;
        line-height: 20px;

}

p{
    font-size: 15px;
}

.about-me-rigth{
    float: right;
    height: auto ;
    width: 50%;
    height: 100%;


    
}

.pic{

    width: 100%;
    height: 100%;

    align-items: center;





}


.mypic{


 

}

.div-main{
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background-color: #f0f0f0;




  
}

@media screen and (min-width: 800px){
    .about-me-left-para{
    margin: 140px auto 60px;
    }

    .about-me-left-para{
        font-size: 25px;
    }
}



@media screen and (max-width: 600px) {

    body{
        width: auto;
    }



    .about-me-rigth{
        width: 100%;
    }
    .about-me-left{
        width: 100%;
    }

    .about-me-left-para{
        font-size: 15px;
        width: 75%;
        height: 100% ;
        margin: 60px auto 60px;
        align-items: center;
        line-height: 20px;


    
    
    }

    .pic{
    
        height: 100%;
        width: 100%;
    }

    .mypic{


    }
    .div-main {
      display: grid;
      height: 700px;



    }
  }



.div-main-school{


}

.icctlogo{
    width: 255px;
    height: auto;


}

.school-left{
    float: left;
    width: 50%;
    height: 100vh;
    background-color: #ffffff;

}

.school-rigth{
    float: right;
    width: 50%;
    height: 100vh;
    background-color: #ffffff;

}